@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    height: 100%;
    width: 100%;
    font-family: 'Jost';
}
#container-1 {
    height: 100vh;
    background: url(../img/fon.png) no-repeat; 
    width: 1519px;
    height: 777px;
    left: 0px;
    top: 0px;
    background-position: 26px center;
    background-color: #9A1212;
}

.list1 {
    position: absolute;
    width: 450px;
    height: 603.09px;
    left: 785.46px;
    top: 180px;
}

.list2 {
    position: absolute;
    width: 159.23px;
    height: 184.24px;
    left:60px;
    top: 356px;
}

.knopka {    
    margin-top: 64px;
    list-style-type: none;
}

.knopka li {
    margin: 0 23px;    
}

ul li{
    display:inline-block;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    width: 124px;
    height: 35px;
    border-radius: 15px;
    background: white;
    text-align: center;    
}

.button:hover {    
    transform: scale(1.2);
}

.button:active {
    transform: scale(0.9);
    opacity: .8;
}
.button a {
    margin-top: -2px;
    text-decoration: none;
    color: black;
    font-size: 18px;
}
.button a:hover {
    
    color: #9A1212;
}

.logotext {
    color: white;
    text-align: right;
    font-size: 64px;
    margin-top: 80px;
    min-width: 50vh;
}
.logotext span {
    font-size: 96px;
}
.text {
    width: 400px;
    color: white;
    font-size: 18px;
    text-align: right;
    margin: 26px 50px 0 225px;
}
.dop {  
    margin: 80px 0 0 60px;
}

.new_products {   
    height: 100vh
}

.list3 {
    position: absolute;
    top: 777px;
    right: 0;
    bottom: 0;
    width: auto;
    height: 100vh;    
    z-index: 1;
}

.s-left {
    margin-top: -60px;
    position: relative;
    width: 30px;
    height: 30px;
    transition: opacity .3s, transform .3s;
}

.s-left:hover {
    opacity: .8;
    transform: scale(1.2);
}

.s-left div {
    position: absolute;
    width: 30px;
    height: 30px;
    border-left: solid #9A1212 7px;
    border-bottom: solid #9A1212 7px;
    transform: rotate(45deg);
}
.s-left div:nth-child(1) {
    left: 50%;
}
.s-right {
    margin-top: -60px;
    position: relative;
    width: 30px;
    height: 30px;
    transition: opacity .3s, transform .3s;
    z-index: 2;
}

.s-right:hover {
    opacity: .8;
    transform: scale(1.2);
}

.s-right div {
    position: absolute;
    width: 30px;
    height: 30px;
    border-right: solid #9A1212 7px;
    border-bottom: solid #9A1212 7px;
    transform: rotate(-45deg);
}

.s-right div:nth-child(1) {
    left: 50%;
}
.margin-t-30 {
    margin-top: -60px;
}
#products {
    position: relative;
    display: flex;
    align-items: center;
    z-index: 5000;
    margin: 0 0 120px 0;
}
.new_products h1 {
    font-size: 96px;
    letter-spacing: 35px;
    margin-bottom: 20px;
    margin-top: 50px;
    text-align:center;
}

.product {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rect1 {
    position: absolute;
    width: 116px;
    height: 220px;
    background: #C4C4C4;
    border-radius: 34px;
}
.rect2 {
    position: relative;
    background: url('../img/new1.png');
    background-size: cover;
    background-position: center center;
    width: 133px;
    height: 220px;
    border-radius: 45px;
    margin-left: 24px;
}

.new2 {
    background: url('../img/new2.png');
}

.new3 {
    background: url('../img/new3.png');
}

.ssilka {
    font-size: 30px;
    text-align: center;
}

.ssilka a {
    text-decoration: none;
    color: #9A1212;
    z-index: 5;
}
.ssilka a:hover{
    color:#400808;
}

.margin-r-35 {
    margin-right: 35px;
}

.footer {
    display: flex;
    align-items:center;
    align-self:end;
    height: 100px;
    width: 100%;
    background-color: #F3F3F3;
    
}

.footer-text {
    position: relative;
    font-size: 24px;
    margin-left: 20px;
    z-index: 2;
}